
body {
    margin:0;
    font-family: "PT Sans", sans-serif;
    background: linear-gradient(#f18b59,#ffcc6c);
  }
  
  button{
    background-color: #f4f0c4;
    font-family: "PT Sans", sans-serif;
    font-size:22px;
    color:#028090;
    height: 60px;
    width: 160px;
    border-radius:11px;
    border:none;
  }
  
  button:hover{
    background-color: #028090;
    color: #f4f0c4;
  }
  .container {
  width: 97%;
  margin: 0 auto;
  }
  
  header {
    background: #f1724d;
  }
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .logo { 
    float: left;
    padding: 10px 0;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li {
    display: inline-block;
    margin-left: 100px;
    padding-right: 80px;
    padding-top: 30px;
    position: relative;
  }
  
  nav a {
    color: #f4f0c4; 
    text-decoration:none; 
    font-size: 22px;
  }
  
  a:hover {
    color: #028090; }
  
  h1 {
    text-align: center;
  }
  h4 {
    font-size: 16px;
    font-weight: 700;
  }
  h3 {
    float:left;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 24px;
    color: #028090;
  }
  
  footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding-top: 0px;
    
  }
  
  .footercontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
  }
  footer li {
    display:inline-block;
    position: relative;
  }
  
  footer a {
    color: #028090; 
    margin-left: 60px;
    margin-right: 60px;
    text-decoration:none; 
    font-size: 16px;
  }
  
  footer a:hover{
    color:#f4f0c4;
  }


 






  img {
    border-radius: 25px;
  }

.container0 {
    position: relative;
    padding-top: 50px;
    padding-left: 50px;
    margin:auto;
  }
  

  .text-block {
    position: absolute;
    bottom: 330px;
    right: 500px;
    background-color: #DD5B2A;
    color: #F2BA52;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
  }


.container2 {
    position: relative;
    width:auto;
    left: 750px;
    padding: 50px;
    margin:auto;
  }
  

  .text-block2 {
    
    position: absolute;
    bottom: 250px;
    left: -440px;
    background-color: #F2BA52;
    color: #DD5B2A;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
  }

.container3 {
    position: relative;
    padding-left:50px;
    margin:auto;
  }
  
  
  .text-block3 {
    position: absolute;
    bottom: 420px;
    right: 500px;
    background-color: #DD5B2A;
    color: #F2BA52;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
  }

